.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image-flamingo {
    position: absolute;
    width: 300px;
    height: auto;
    left: calc(50% - 285px);
    top: calc(50% - 10px);
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 150%) rotate(-30deg);
    transform-origin: 50% 60%;

    @media (max-width: $mobile) {
      width: 150px;
      left: calc(50% - 118px);
      top: calc(50% + 30px);
    }
  }

  .image-suitcase {
    position: absolute;
    width: 450px;
    height: auto;
    left: calc(50% - 275px);
    top: calc(50% - 125px);

    @media (max-width: $mobile) {
      width: 200px;
      top: calc(50% - 15px);
      left: auto;
    }
  }

  .image-green {
    position: absolute;
    width: 450px;
    height: auto;
    left: calc(50% - 21px);
    top: calc(50% + 35px);
    transform-origin: left center;

    @media (max-width: $mobile) {
      width: 150px;
      left: calc(50% + 25px);
      top: calc(50% + 60px);
    }
  }

  .image-leaf1 {
    position: absolute;
    width: 335px;
    height: auto;
    left: calc(50% - 10px);
    top: calc(50% - 115px);
    transform-origin: left center;

    @media (max-width: $mobile) {
      width: 150px;
      left: calc(50% - -8px);
      top: calc(50% - 10px);
    }
  }

  .image-leaf2 {
    position: absolute;
    width: 335px;
    height: auto;
    left: calc(50% - 418px);
    top: calc(50% - 15px);
    transform-origin: right center;

    @media (max-width: $mobile) {
      width: 150px;
      left: calc(50% - 161px);
      top: calc(50% + 34px);
    }
  }

  .screen--show & {
    .image-flamingo {
      animation-name: show-flamingo, rotate-flamingo;
      animation-duration: 0.5s, 2.5s;
      animation-timing-function: ease-in, linear;
      animation-fill-mode: forwards;
      animation-iteration-count: 1, infinite;
      animation-delay: 0.5s, 1s;
    }

    .image-suitcase {
      animation-name: show-suitcase;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.37,0.2,0.6,1.2);
      animation-fill-mode: both;
      animation-delay: 0.5s;
    }

    .image-leaf1, .image-leaf2, .image-green {
      animation-duration: 1.8s;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
      animation-delay: 0.8s;
    }

    .image-leaf1 {
      animation-name: leaf1;
    }
    
    .image-leaf2 {
      animation-name: leaf2;
      animation-duration: 1.8s;
    }

    .image-green {
      animation-name: leaf-green;
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;
  opacity: 0;
  transition: opacity 0.4s ease;

  .screen--show & {
    opacity: 1;

    > span {
      transform-origin: center;
      will-change: transform;
      animation-name: show-result-button;
      animation-timing-function: ease-out;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }
  }

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }

  .result__text {
    .screen--show & {
      animation-name: show-win-text;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-timing-function: ease;  
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}


@keyframes show-flamingo {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, 150%) rotate(-30deg);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes rotate-flamingo {
  0% {
    transform: translate(-3px, -6px) rotate(3deg);
  }
  50% {
    transform: translate(3px,6px) rotate(-3deg);
  }
  100% {
    transform: translate(-3px, -6px) rotate(3deg);
  }
}

@keyframes show-suitcase {
  0% {
    transform: translate(0, 150%) scale(0.1);
    opacity: 0;
  }

  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes leaf1 {
  from {
    opacity: 0;
    transform: translateY(-100px) rotate(-15deg)
  }

  10% {
    opacity: 1;
    transform: translateY(0) rotate(15deg)
  }

  40% {
    transform: rotate(-5deg)
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  to {
    opacity: 1;
    transfrorm: rotate(0deg)
  }
}

@keyframes leaf2 {
  from {
    opacity: 0;
    transform: translateY(-100px) rotate(30deg)
  }

  10% {
    opacity: 1;
    transform: rotate(-15deg)
  }

  40% {
    transform: rotate(10deg)
  }

  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(2deg);
  }

  to {
    opacity: 1;
    transfrorm: translateY(0) rotate(0deg)
  }
}

@keyframes leaf-green {
  from {
    opacity: 0;
    transform: rotate(-20deg)
  }

  10% {
    opacity: 1;
    transform: rotate(15deg)
  }

  40% {
    transform: rotate(-10deg)
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  to {
    opacity: 1;
    transfrorm: rotate(0deg)
  }
}

@keyframes show-result-button {
  from {
    opacity: 0;
    transform: translate(50px, 0) rotate(180deg);
  }

  to {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes show-win-text {
  from {
    opacity: 0;
    transform: scale(1.15);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}