.text-word {
  display: inline-block;
  margin: -0.2em 0.1em 0;
  white-space: nowrap;
  padding-top: 0.2em;
  overflow-y: hidden;

  span {
    opacity: 0;
    display: inline-block;
    transform: translate3d(0, 110%, 0);
    padding-right: 0.04em;
  }

  .animate & > span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .intro__title & > span {
    padding-right: 0;
  }
}